*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color: var(--color-text-primary);
  background: var(--color-bg-primary);
  font-family: var(--font-family-sans);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  min-height: 100vh;
  margin: 0;
}

button,
input,
textarea,
select {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}
